[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  port = 5173

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  environment = { VITE_MOCK_MODE = "false" }

[context.deploy-preview]
  environment = { VITE_MOCK_MODE = "false" }

[context.branch-deploy]
  environment = { VITE_MOCK_MODE = "false" }
